@section Styles{
	<link rel="stylesheet" href="~/Style/bootstrap.min.css">
}
@section header
{
<!-- Paradise Slider -->
		<div id="fw_al_002" class="carousel slide swipe_x ps_easeInOutSine" data-ride="carousel" data-pause="hover"
			 data-interval="5000" data-duration="2000">
			<!-- Wrapper For Slides -->
			<div id="particles-js"></div>
			<div class="carousel-inner" role="listbox">

				<!-- First Slide -->
				<div class="carousel-item active">
					<!-- <div class="overlay"></div> -->
					<!-- Slide Background  -->
					<img src="img/Home/mr2.jpg" alt="fw_al_002_01" style="margin-top: 75px;

					border-top-right-radius: 5px ;" />

					<!-- Slide Text Layer -->
					<div class="slider_content">
						<h1 data-animation="animated fadeInRight">
							<span data-animation="animated fadeInRight" style="text-shadow: 2px 0 #2d70ed, -2px 0 #2d70ed, 0 2px #2d70ed, 0 -2px #2d70ed,
							1px 1px #2d70ed, -1px -1px #2d70ed, 1px -1px #2d70ed, -1px 1px #2d70ed;">
								نقدم لكم
							</span><br>
							<span class="lg" style="text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
							1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;">شرح وافي وكافي للكيمياء </span>
						</h1>
						<p data-animation="animated fadeInRight" style="font-size: 1.4rem; text-shadow: 2px 0 #2d70ed, -2px 0 #2d70ed, 0 2px #2d70ed, 0 -2px #2d70ed,
						1px 1px #2d70ed, -1px -1px #2d70ed, 1px -1px #2d70ed, -1px 1px #2d70ed; ">
							شرح مادة الكيمياء لكل صفوف الثانوية
							العامة بطريقة سهله
							وبسيطه وباحدث طرق التعليم , امتحانات بالنظام الحديث للثانوية العامة ، محتوي تقني مميز وسهل
							ومناسب لكل الطلاب
						</p>
						<!-- <a class="padding btn" href="#" data-animation="animated fadeInRight">احجز الان </a> -->
					</div>
				</div>
				<!-- End of Slide -->
			</div><!-- End of Wrapper For Slides -->
		</div> <!-- End Paradise Slider -->
}
	<section id="welcome" class="section">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-6">
					<div class="section-heading">
						<div class="clearfix text text-light" style="background-color: #2d70ed; border-radius: 10px; ">
							<h4 style="text-align: center;"> النجاح</h4>
						</div>
						<p style="font-size: 20px; text-align: right;">
							تحقيق الطلاب لاعلي الدرجات فهو النجاح الحقيقي
							والوصول للقمه
						</p>
					</div>
				</div>

				<div class="col-lg-4 col-md-4 col-sm-6">
					<div class="section-heading">
						<div class="clearfix text text-light" style="background-color: #2d70ed; border-radius: 10px; ">
							<h4 style="text-align: center;">الهدف & المهمة</h4>
						</div>
						<p style="font-size: 20px; text-align: right;">
							شرح المنهج كاملا بطريقة سهله مناسبة لكل
							المستويات، والوصول بالطلاب الى أعلى المستويات لتحقيق اعلي الدرجات
						</p>
					</div>
				</div>

				<div class="col-lg-4 col-md-4 col-sm-6">
					<div class="section-heading">
						<div class="clearfix text text-light" style="background-color: #2d70ed; border-radius: 10px; ">
							<h4 style="text-align: center;">قصة & تاريخ</h4>
						</div>
						<p style="font-size: 20px; text-align: right;">
							مدرس خبير مادة الكيمياء بمدرسة الثانوية بنات
							بملوي وخبرة في مجال
							التدريس أكثر من عشرين عام
						</p>
					</div>
				</div>


			</div>
		</div>
	</section>

	<!-- Features Section Start -->

	<section id="features" class="section" data-stellar-background-ratio="0.2">
		<div class="overlay"></div>
		<div class="container">
			<div class="section-header">
				<h2 class="section-title" style="font-size: 2rem;">الخدمـــــــــات </h2>
				<hr class="lines">
				<p class="section-subtitle">نسعي لتقديم كافة الوسائل التي تساعد الطالب للوصول للقمة </p>
			</div>

			<div class="row" style="direction: rtl;">

				<div class="col-lg-4 col-sm-6 col-xs-12 box-item" style="float: right; text-align: right;">
					<div class="h-100" style="float: right;">
						<span class="icon">
							<i class="lnr lnr-layers"></i>
						</span>
					</div>
					<div class="text">
						<h4 class="text-uppercase" style="font-size: 1.5rem;">متابعة مستمرة </h4>
						<p>متابعة مستمرة للطلاب من خلال الاختبارات الدورية والواجبات المنزلية المستمرة </p>
					</div>
				</div>


				<div class="col-lg-4 col-sm-6 col-xs-12 box-item" style="float: right; text-align: right;">
					<div class="h-100" style="float: right;">
						<span class="icon">
							<i class="lnr lnr-rocket"></i>
						</span>
					</div>
					<div class="text">
						<h4 class="text-uppercase" style="font-size: 1.5rem; "> امتحانات دورية  </h4>
						<p>
							يتم تقديم امتحانات  دورية طبقاً للنظام الحديث للثانوية العامة لكافة الدروس المتعلقة بالمنهج الدراسي و تدريب الطلاب عليها
						</p>
					</div>
				</div>


				<div class="col-lg-4 col-sm-6 col-xs-12 box-item" style="float: right; text-align: right;">
					<div class="h-100" style="float: right;">
						<span class="icon">
							<i class="lnr lnr-laptop-phone"></i>
						</span>
					</div>
					<div class="text">
						<h4 class="text-uppercase" style="font-size: 1.5rem;">محتـــــــوي تقني متميز</h4>
						<p>استخدام احدث طرق التعليم وتقديم المحتوي العلمي المتميز بشكل حصري علي موقعنا الالكترني</p>
					</div>
				</div>
			</div>

		</div>
	</section>
	<!-- Features Section End -->
	<!-- Portfolio Section -->
	<section id="portfolios" class="section">
		<!-- Container Starts -->
		<div class="container">

			<div class="row">
				<!-- Portfolio Recent Projects -->
				<div id="portfolio" class="row">
					<div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix development print">
						<div class="portfolio-item">
							<div class="shot-item">
								<img src="~/img/portfolio/portfolio-1.jpg" alt="" />
								<a class="overlay lightbox" href="~/img/portfolio/portfolio-1.jpg">
									<i class="lnr lnr-eye item-icon"></i>
								</a>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix design print">
						<div class="portfolio-item">
							<div class="shot-item">
								<img src="~/img/portfolio/portfolio-2.jpg" alt="" />
								<a class="overlay lightbox" href="~/img/portfolio/portfolio-2.jpg">
									<i class="lnr lnr-eye item-icon"></i>
								</a>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix development">
						<div class="portfolio-item">
							<div class="shot-item">
								<img src="~/img/portfolio/portfolio-3.jpg" alt="" />
								<a class="overlay lightbox" href="~/img/portfolio/portfolio-3.jpg">
									<i class="lnr lnr-eye item-icon"></i>
								</a>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix development design">
						<div class="portfolio-item">
							<div class="shot-item">
								<img src="~/img/portfolio/portfolio-4.jpg" alt="" />
								<a class="overlay lightbox" href="~/img/portfolio/portfolio-4.jpg">
									<i class="lnr lnr-eye item-icon"></i>
								</a>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix development">
						<div class="portfolio-item">
							<div class="shot-item">
								<img src="~/img/portfolio/portfolio-5.jpg" alt="" />
								<a class="overlay lightbox" href="~/img/portfolio/portfolio-5.jpg">
									<i class="lnr lnr-eye item-icon"></i>
								</a>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix print design">
						<div class="portfolio-item">
							<div class="shot-item">
								<img src="~/img/portfolio/portfolio-6.jpg" alt="" />
								<a class="overlay lightbox" href="~/img/portfolio/portfolio-6.jpg">
									<i class="lnr lnr-eye item-icon"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Container Ends -->
	</section>
	<!-- Portfolio Section Ends -->
	<!-- Start Video promo Section -->
	<section class="video-promo section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8">
					<div class="video-promo-content text-center">
						<h2 class="wow zoomIn" data-wow-duration="1000ms" data-wow-delay="100ms">فيديــو تقديمي </h2>
						<p class="wow zoomIn" data-wow-duration="1000ms" data-wow-delay="100ms">
							فيديــو لتوضيح كل التفاصيل الخاصه بالمنصه التعليميه و توضيح كيفية
							الاستخدام الصحيح لتحقيق اقصي استفاده ممكنه
						</p>
						<a href="https://www.youtube.com/watch?v=IXoMDwh4Cq8" class="video-popup wow fadeInUp"
						   data-wow-duration="1000ms" data-wow-delay="0.3s">
							<i class="lnr lnr-film-play"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Video Promo Section -->
	
	<!-- Go To Top Link -->
	<a href="#" class="back-to-top">
		<i class="lnr lnr-arrow-up"></i>
	</a>