@import url(https://fonts.googleapis.com/earlyaccess/lateef.css); 

body{
    font-family: 'Lateef', serif;
}


.Images img:hover {
    transform: scale(1.2);
}

.Images img {
    transition: all 0.4s ease-in-out;
}



/* ********************************************************* */

#portfolios .mix {
    padding: 10px;
  }
  
  #portfolios .portfolio-item .shot-item {
    margin: 0px;
  }
  
  /* #portfolio .mix {
    display: none;
  } */
  
  .controls {
    text-align: center;
    padding: 0px 0px 20px;
  }
  
  .controls .active {
    color: #5969dc !important;
    border-color: #5969dc;
    background: transparent;
  }
  
  .controls .btn {
    text-transform: uppercase;
    margin: 2px;
  }
  
  .controls:hover {
    cursor: pointer;
  }
  
  .portfolio-img {
    overflow: hidden;
    display: block;
    position: relative;
  }
  
  .portfolio-img img {
    width: 100%;
  }
  
  .shot-item {
    margin-right: 15px;
    border-radius: 4px;
    background: #fff;
    position: relative;
  }
  
  .shot-item img {
    width: 100%;
  }
  
  .shot-item .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
  }
  
  .shot-item:hover .overlay {
    opacity: 1;
  }
  
  .overlay .item-icon {
    height: 48px;
    width: 48px;
    line-height: 48px;
    color: #5969dc;
    left: 50%;
    margin-left: -24px;
    margin-top: -24px;
    top: 50%;
    position: absolute;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    border: 1px solid #5969dc;
    border-radius: 50%;
  }
  
  .overlay .item-icon:hover {
    background: #5969dc;
    color: #fff;
  }
  
  .shot-item:hover .item-icon {
    visibility: visible;
    opacity: 1;
  }

