@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Seymour+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@700&family=Roboto&family=Seymour+One&display=swap');

body {
    font-family: 'Noto Naskh Arabic', serif !important;
font-family: 'Roboto', sans-serif;
font-family: 'Seymour One', sans-serif;
}
